
lecture01/c_version/\.idea/

ex01/c_version/\.idea/

ex01/python_version/\.idea/

ex01/c_version/cmake-build-debug/

\.idea/

cmake-build-debug/

lab01/dbac496@banshee\.uow\.edu\.au

ex02/ex2

ex03/ex3

assignment01/c_version/ass1

assignment01/ass1

ex04/ex4

ex05/ex5

